body {
	font-family: 'Source Code Pro', monospace;
	color: #404041;
	font-size: 14px;
}
@media (min-width: 724px) {
	body {
		font-size: 18px;
	}
}

a:link,
a:visited {
	color: #0089d7;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.color {
	color: #eac104;
	font-weight: bold;
}
.grey {
	color: #bbbbbb;
}

.wrapper {
	text-align: center;
	padding-top: 2em;
}

.logo {
	display: inline-block;
	width: 50%;
}
@media (min-width: 724px) {
	.logo {
		width: 25%;
	}
}
	.logo img {
		width: 100%;
	}
