body {
	font-family: 'Source Code Pro', monospace;
	color: #404041;
	font-size: 14px;
}
@media (min-width: 724px) {
	body {
		font-size: 18px;
	}
}

a:link,
a:visited {
	color: #0089d7;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h2 {
	margin-top: 6em;
	font-size: 1em;
}

hr {
	border: 0;
	/*height: 0.5em;
	background: repeating-linear-gradient(
		115deg,
		transparent,
		transparent 10px,
		#f5f5f5 10px,
		#f5f5f5 20px
	);*/
}

.color {
	color: #eac104;
	font-weight: bold;
}
.grey {
	color: #bbbbbb;
}

.wrapper {
	text-align: center;
	padding-top: 2em;
}

.logo {
	display: inline-block;
	width: 50%;
}
@media (min-width: 724px) {
	.logo {
		width: 25%;
	}
}
	.logo img {
		width: 100%;
	}

.workshops {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
	.workshops li {
		width: 75%;
		margin-top: 1em;
	}
	@media (min-width: 724px) {
		.workshops {
			flex-wrap: nowrap;
		}
			.workshops li {
				width: 250px;
			}
	}
	.workshops li.faded {
		opacity: 0.7;
		-webkit-filter: grayscale(100%);
	}
		.workshops img {
			display: inline-block;
			max-width: 100%;
			margin: 0 auto;
		}
