.edition {
  background-color: #eee;
}

.btn {
  background: transparent;
  border: 1px transparent solid;
  border-radius: 2em;
  font-size: 1em;
  display: inline-block;
  padding: .5em 1em;
  cursor: pointer;
  outline: 0;
}
.btn-active {
  border-color: green;
}

.slide-enter {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  /*transform: translateY(-2em);*/
}
.slide-enter-active {
  opacity: 1;
  max-height: 10em;
  /*transform: translateY(0px);*/
  transition: .5s;
  transition-timing-function: ease;
}
.slide-leave {
  overflow: hidden;
  opacity: 1;
  max-height: 10em;
}
.slide-leave-active {
  opacity: 0;
  max-height: 0;
  /*transform: translateY(-1em);*/
  transition: .5s;
  transition-timing-function: ease;
}
/*.slide-appear {
  opacity: 0;
  max-height: 0;
}
.slide-appear-active {
  opacity: 1;
  max-height: 10em;
  transition: 5s;
}*/
