html {
  background-color: #404041;

  --primary: #eac104;
}

body {
  color: #f1f1f1;
  line-height: 1.5;
}
strong {
  color: #ffffff;
}

a:link,
a:visited {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-bottom: 0;
}

.banner {
  width: 100%;
}

.main {
  margin: 0 auto;
  padding: 2em;
  max-width: 980px;
  text-align: left;
}

.cta:link,
.cta:visited {
  background-color: var(--primary);
  color: #404041;
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 2em;
}

.cta-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
@media only screen and (min-width: 480px) {
  .cta-wrapper {
    display: inline-flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
  }
}

.discount strong,
.discount {
  font-size: 1.5em;
  color: #40c3ff;
}